/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    font-size: 16px;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.burger {
    @media screen and (max-width: 768px) {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 999;
        margin: 5px;
        height: 50px;
        width: 50px;
        align-self: flex-end;
        display: none;
    }
}

.close-burger {
    @media screen and (max-width: 768px) {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 999;
        margin: 5px;
        height: 50px;
        width: 50px;
        align-self: flex-end;
        display: none;
    }
}

.burger.active, .close-burger.active {
    @media screen and (max-width: 768px) {
        display: block !important;
    }
}

.menu {
    margin-top: 10px;
    width: 90%;
    max-width: 1084px;
    height: 30px;
    background-color: #d7d6d4;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    padding: 10px 0;

    @media screen and (max-width: 768px) {
        display: none;
        margin-top: 0px;
        position: fixed;
        top: 0px;
        z-index: 20;
        padding: 0;
        border-radius: 0px;
        background-color: #ffffff;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: flex-end;
    }
}

.menu.active {
    @media screen and (max-width: 768px) {
        display: flex !important;
    }
}


.menu ul {
    list-style: none;
    display: flex;
    gap: 100px;

    /* Espacement entre les éléments */
    @media screen and (max-width: 768px) {
        padding: 0;
        gap: 25px;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        text-transform: uppercase;
    }
}

.menu li {
    padding: 10px;
}

.menu a {
    text-decoration: none;
    color: #d92211;
    font-weight: bold;
    font-size: 1.3rem;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    position: relative;
    transition: 0.3s;
}


/* ===== RESPONSIVE ===== */

@media screen and (max-width: 768px) {


    .nav {
        position: absolute;
        top: 70px;
        right: 0;
        width: 250px;
        height: 100vh;
        transform: translateX(100%);
        transition: transform 0.4s ease-in-out;
    }

    .nav.active {
        transform: translateX(0);
    }

    .nav-links {
        flex-direction: column;
        padding: 40px;
        gap: 25px;
    }
}


.project-card {
    flex: 1 1 200px;
    /* min 200px, prend l’espace disponible */
}

.search-container {
    margin: 100px auto 40px auto;
    text-align: center;
}

#searchInput {
    width: 90%;
    max-width: 400px;
    padding: 12px 20px;
    border-radius: 30px;
    border: 2px solid #d92211;
    margin-bottom: 20px;
    font-size: 1rem;
    outline: none;
}

#searchInput:focus {
    box-shadow: 0 0 8px rgba(217, 34, 17, 0.4);
}

.filter-section {
    margin: 120px auto 40px;
    text-align: center;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.filter-btn {
    padding: 8px 18px;
    border-radius: 20px;
    border: 2px solid #d92211;
    background: white;
    color: #d92211;
    cursor: pointer;
    transition: 0.3s ease;
}

.filter-btn:hover,
.filter-btn.active {
    background: #d92211;
    color: white;
}



/* Section Compétences */
.competences {
    padding: 40px 40px;
}


.cards {
    padding-top: 20px;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: #d92211;
    color: white;
    border-radius: 15px;
    padding: 20px;
    max-width: 357px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card p {
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.card-icons {
    display: flex;
    justify-content: space-around;
    height: 50px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        max-width: 90%;
    }
}

.catalogue {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.project-card {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-info {
    padding: 20px;
}

.project-info h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
}

.project-info p {
    font-size: 14px;
    margin-bottom: 15px;
    color: black;
}

.link {
    font-size: 14px;
    color: #d92211;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

.link::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background: #f26444;
    transition: width 0.3s ease;
}

.link:hover {
    color: #f26444;
    ;
}

.link:hover::after {
    width: 100%;
}



.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.video-container video {
    max-width: 85%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.document-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.document-container iframe {
    width: 100%;
    height: 600px;
    border: 1px solid #ddd;
    border-radius: 4px;
}


.text-container {
    position: relative;
    padding-left: 40px;
    padding-top: 100px;
    margin-bottom: 150px;
    /* Espace entre le titre et le contenu suivant */
}

.titre-container {
    position: relative;
    padding-left: 40px;
    padding-top: 40px;
    margin-bottom: 150px;
    /* Espace entre le titre et le contenu suivant */
}


/* Texte avec contour */
.outline-text {
    font-size: 96px;
    /* Taille du texte avec contour */
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 2px #d92211;
    ;
    /* Contour vert clair */
    position: absolute;
    /* Position absolue pour superposer */
    top: 93px;
    /* Ajustez pour descendre le contour */
    left: 120px;
    /* Ajustez pour le déplacer horizontalement */
}

/* Texte plein */
.solid-text {
    font-size: 70px;
    /* Taille légèrement plus petite */
    font-weight: bold;
    color: #d92211;
    ;
    /* Couleur verte */
    position: absolute;
    /* Superpose directement avec `outline-text` */
    top: 125px;
    /* Ajustez pour descendre */
    left: 70px;
    /* Ajustez pour le déplacer horizontalement */
    z-index: 2;
    /* Place au-dessus du contour */
}

.return-link {
    font-size: 14px;
    color: #d92211;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

.return-link:hover {
    color: #f26444;
}


/* Conteneur principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Contenu */
.content {
    display: flex;
    gap: 40px;
    align-items: center;
}

/* Image */
.image-container img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Texte */
.text-container {
    flex: 1;
    color: #333;
    line-height: 1.6;
}

.text-container p {
    margin-bottom: 15px;
    /* Diminue l'espace entre les paragraphes */
    line-height: 1.5;
    /* Ajuste l'espacement entre les lignes */
}

.text-container strong {
    font-weight: bold;
}

/* Bouton */
.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #d92211;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #f26444;
}

.right-title {
    width: 25%;
    text-align: right;
    font-size: 1.5em;
    color: #d92211;
    border-right: 2px solid #d92211;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 4s steps(15, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #d92211;
    }
}

.contact-container {
    text-align: center;
    background-color: #d92211;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
}

.contact-container h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.contact-header {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}


.contact-container p {
    font-size: 1rem;
    margin: 8px 0;
}

@media (max-width: 480px) {
    .contact-header {
        font-size: 1.8rem;
    }

    .contact-container h1 {
        font-size: 1.5rem;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Section 1 : Présentation visuelle */
.project-header {
    position: relative;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.project-main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.header-overlay {
    position: absolute;
    color: white;
    text-align: center;
}


.project-tagline {
    font-size: 20px;
    margin-top: 10px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

/* Section 2 : Description et outils */
.project-details {
    padding: 40px 20px;
    text-align: center;
}

.project-details h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.project-details p {
    font-size: 18px;
    margin-bottom: 20px;
}

.project-objectives,
.tools-list {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.tools-list img {
    list-style: none;
    padding: 0;
    margin: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    height: 70px;
}


.project-objectives li {
    background: #d92211;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
}

/* Vidéo dans la galerie */
.gallery-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* 3 colonnes, largeur minimale de 300px */
    gap: 20px;
    /* Espace entre les éléments */
    padding: 20px;
    justify-content: center;
}

/* Éléments de la galerie (images et vidéo) */
.gallery-item {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    height: 300px;
    /* Hauteur fixe pour tous les éléments */
}

.gallery-item:hover {
    transform: scale(1.02);
}

/* Images de la galerie */
.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.project-gallery {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
    color: #333;
}


.gallery-item:hover .gallery-img {
    transform: scale(1.05);
}

.gallery-item figcaption {
    padding: 10px;
    text-align: center;
    background: #f9f9f9;
    font-style: italic;
    color: #555;
}

/* Style pour pdf */
.pdf-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    text-align: center;
    padding: 20px;
}

.pdf-thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}



.pdf-link {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.pdf-link:hover {
    color: #d92211;
}

/* Style pour le footer */
.footer {
    flex-shrink: 0;
    /* Empêche le footer de rétrécir */
    background: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

.contact-header {
    color: white;
    padding: 2rem;
    margin: 5rem auto;
    width: 80%;
    text-align: center;
    border-radius: 10px;
}

.home-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.accueil {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accueil .image-link {
    display: block;
    position: relative;
}

.accueil img {
    max-height: 700px;
    max-width: 100%;
    height: auto;
    display: block;
}

.accueil .click-message {
    position: absolute;
    bottom: -10px;
    right: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 20px;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.accueil .click-message:hover {
    background-color: rgba(0, 0, 0, 0.6);
}